<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="../static/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!--Contact Section Start-->
<div class="head-about">
    <h1>CONTACT <span class="word-txt">ME</span></h1>
</div>

<div class="main-contact">
    <div class="row-contact">
        <input class="text-name" type="text" placeholder="Your Name">
        <input class="text-email" type="email" placeholder="Your E-mail">
        <a href="index.html" class="btn-submit"><span>SUBMIT</span></a>
    </div>
</div>

<div>
    <a href="index.html" class="back-btn"> <i
            class="fas fa-arrow-left back-sign"></i></a>
</div>
<!--Contact Section End-->
</body>
</html>