<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="../static/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">

    <!--Navbar Section Start-->
    <nav class="navbar">
        <a class="lnk" href="index.html"><i class="fas fa-home"></i>
            <span>Home</span></a>
        <a class="lnk" href="portfolio.html"><i
                class="fas fa-briefcase"></i> <span>Portfolio
        </span>
        </a>
        <a class="lnk" href="contactMe.html"><i
                class="fas fa-address-book"></i> <span>Contact Me
        </span>
        </a>
    </nav>
    <!--Navbar Section End-->

    <!--Image And Intro Section Start-->
    <div class="row">

        <div class="img">
            <img class="image" src="../static/me.png">
        </div>

        <div class="content">
            <p class="wrd-txt">Hello,</p>
            <h3 class="mytxt wrd-txt">I'm <span style="color: darkred">Jay</span>
                Shah!</h3>
            <p class="tex wrd-txt">Welcome to my official portfolio website where I
            put all my work related to my design and many more.</p>
            <a class="bt" href="portfolio.html"><i class="fas fa-briefcase">
            </i> <span>My Portfolio</span></a>
        </div>

    </div>
    <!--Image And Intro Section End-->

    <!--About Section Start-->
    <div class="head-about">
        <h1>ABOUT <span class="word-txt">ME</span></h1>
    </div>

    <div class="intro">

        <div class="about-box1">
            <h3><span class="word-txt">Name:</span><span
                    class="wrdtxt"> Jay Shah</span></h3>
            <h3><span class="word-txt">Age:</span><span class="wrdtxt"> 23
            </span></h3>
            <h3><span class="word-txt">E-mail:</span><span class="wrdtxt">
                jayshah435@gmail.com</span></h3>
            <h3><span class="word-txt">Address:</span><span class="wrdtxt"
            > Gujarat, India</span></h3>
        </div>

        <div class="about-box2">
            <h3><span class="word-txt">Freelance:</span><span
                    class="wrdtxt"> Available</span></h3>
            <h3><span class="word-txt">Skill:</span><span class="wrdtxt">
                HTML, CSS, JS, Python</span></h3>
            <h3><span class="word-txt">Experience:</span><span
                    class="wrdtxt"> 1 Year</span></h3>
            <h3><span class="word-txt">Language:</span><span class="wrdtxt">
                English, Hindi, Gujarati</span></h3>
        </div>

    </div>

    <div class="btn-about">
    <a href="../static/JAY-CV.pdf" download="jayCV" class="bt"
       target="_blank">Download CV
        <i class="fas fa-download"></i></a>
    </div>
    <!--About Section End-->

    <!--Skill Section Start-->
    <div class="head-about">
        <h1>MY <span class="word-txt">SKILLS</span></h1>
    </div>

    <div class="main-skill">
        <div class="box-1">
            <img class="img-skl" src="../static/html.jpg">
            <span class="txt-skl">HTML</span>
        </div>
        <div class="box-1">
            <img class="img-skl" src="../static/css.png">
            <span class="txt-skl">CSS</span>
        </div>
        <div class="box-1">
            <img class="img-skl" src="../static/js.jpg">
            <span class="txt-skl">JAVASCRIPT</span>
        </div>
        <div class="box-1">
            <img class="img-skl" src="../static/py.png">
            <span class="txt-skl">PYTHON</span>
        </div>
    </div>
    <!--Skill Section End-->

    <!--Education Section Start-->
    <div class="head-about">
        <h1>MY <span class="word-txt">EDUCATION</span></h1>
    </div>

    <div class="main-edu">

        <div class="edu-1">
            <div class="edu-sign"><i class="fas fa-graduation-cap sign">
            </i></div>
            <span class="learn-year">2016-2020</span>
            <h3 class="edu-title">Graduation</h3>
            <p class="learn">Graduated in Electrical Engineering from Vishwakarma
                Government Engineering College- Ahmedabad</p>
        </div>

        <div class="edu-1">
            <div class="edu-sign"><i class="fas fa-graduation-cap sign"> </i></div>
            <span class="learn-year">2020-2021</span>
            <h3 class="edu-title">Digital Marketing</h3>
            <p class="learn">Learned about Fundamentals Of Digital Marketing as well as
                Affilliate Marketing
            </p>
        </div>

        <div class="edu-1">
            <div class="edu-sign"><i class="fas fa-graduation-cap sign"> </i></div>
            <span class="learn-year">2021-Currently</span>
            <h3 class="edu-title">Web Development</h3>
            <p class="learn">Took internship of Web Development where learned different
                technologies like Python(Flask & Django), HTML, CSS, Javascript,
                MySQL</p>
        </div>

    </div>
    <!--Education Section End-->
</div>

</body>
</html>