<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="../static/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!--Portfolio Section Start-->
<div class="head-about">
    <h1>MY <span class="word-txt">PORTFOLIO</span></h1>
</div>

<div class="main-portfolio">

    <div class="port-1">
        <img class="port-skl" src="../static/CRUD.png">
        <div class="content-port">
            <span class="txt-port">CRUD Operation</span>
            <a target="_blank" href="https://github.com/jayshah435/CRUD_Operation.git"
                style="font-size:20px; text-decoration: none;
            color: darkred; padding: 5px;">Read
                More</a>
        </div>
    </div>

    <div class="port-1">
        <img class="port-skl" src="../static/CAL.png">
        <div class="content-port">
            <span class="txt-port">Calculator</span>
            <a href="https://github.com/jayshah435/My_Calc.git"
                target="_blank" style="font-size:20px;
                text-decoration: none; color: darkred;
               padding: 5px">Read
                More</a>
        </div>
    </div>

    <div class="port-1">
        <img class="port-skl" src="../static/TICTACTOE.png">
        <div class="content-port">
            <span class="txt-port">Tic Tac Toe Game</span>
            <a href="https://github.com/jayshah435/Tic_Tac_Toe.git" target="_blank"
               style="font-size:20px; text-decoration: none;
            color: darkred; padding: 5px">Read
                More</a>
        </div>
    </div>

</div>

<div class="btn-about">
    <a href="index.html" class="bt"><span>Back</span> <i
                class="fas fa-arrow-left"></i></a>
</div>
<!--Portfolio Section End-->
</body>
</html>